.venv/
.idea/
*.iml
gen/
src/opera/api/openapi/
src/opera/api/storage/
src/.opera-api/
src/opera/api/in_progress/
Dockerfile
xOpera-rest-blueprint
.github
*.jar

make_docker.sh
validate_tag.sh
sonar-project.properties

**/__pycache__/
**/.pytest_cache/
**/*.py[cod]
