.venv/
.idea/
*.iml
gen/
src/opera/api/openapi/
src/opera/api/storage/
src/opera/api/deployment_data/
src/.opera-api/
src/opera/api/in_progress/
xOpera-rest-blueprint/modules
xOpera-rest-blueprint/.opera
xOpera-rest-blueprint/inputs/private
nginx.conf
certificates.toml
docker-compose-editor.yml
docker-compose-production.yml
*.jar

### Python ###
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
