# xopera-opera
opera==0.6.6

# openstack
openstacksdk==0.52.0

# k8s
openshift==0.12.0

# Amazon AWS
boto==2.49.0
boto3==1.17.25

# openapi
connexion[swagger-ui] == 2.7.0
python-dateutil >= 2.8.1
tornado==6.1

# GitCSARdb
GitPython==3.1.27
PyGithub==1.54.1
python-gitlab==2.6.0

# PostgreSQL
psycopg2==2.8.6

# testing
pytest
pytest-cov
pytest-mock
assertpy
validators
psutil
regex
