# xopera-opera
opera==0.6.2

# openstack
openstacksdk==0.52.0

# k8s
openshift==0.11.2

# Amazon AWS
boto==2.49.0
boto3==1.16.54

# openapi
connexion >= 2.7.0
python-dateutil >= 2.8.1
tornado==6.1

# GitCSARdb
GitPython==3.1.12
PyGithub==1.54.1
python-gitlab==2.5.0

# PostgreSQL
psycopg2==2.8.6

# testing
pytest
pytest-cov
assertpy
validators
psutil
