assertpy==1.1
Flask==1.1.2
flask-restplus==0.13.0
GitPython==3.1.7
openstacksdk==0.48.0
opera==0.5.7
psycopg2-binary==2.8.5
PyGithub==1.53
pytest==6.0.1
pytest-cov==2.10.1
python-gitlab==2.4.0
uWSGI==2.0.19.1
validators==0.18.0
Werkzeug==0.16.1
