# OPENSTACK SETTINGS
ssh-key-name: ${ssh_key_name}
image-name: ${image_name}
vm-name: ${vm_name}
openstack-network-name: ${network_name}
security-groups: ${security_groups}
flavor-name: ${flavor_name}
# identity_file: ${xOpera_ssh_key_file}
ssh_config:
  IdentityFile:  ${xOpera_ssh_key_file}
# DOCKER SETTINGS
docker-network: ${docker_network}
dockerhub-user: ${dockerhub_user}
dockerhub-pass: ${dockerhub_pass}
docker-public-registry-url: ${docker_public_registry_url}
docker-private-registry-url: ${docker_registry_ip}
docker-registry-cert-country-name: ${docker_registry_cert_country_name}
docker-registry-cert-organization-name: ${docker_registry_cert_organization_name}
docker-registry-cert-email-address: ${docker_registry_cert_email_address}
docker-registry-cert-path: ${cert_path}
docker-registry-cert-files-prefix: ${cert_files_prefix}
# POSTGRES SETTINGS
postgres_env:
  POSTGRES_USER: ${postgres_user}
  POSTGRES_PASSWORD: ${postgres_password}
  POSTGRES_DB: ${postgres_db}
  POSTGRES_PORT: "${postgres_port}"
# XOPERA SETTINGS
xopera_env:
  DEBUG: "${xopera_debug}"
  LOG_LEVEL: ${xopera_log_level}
  # OIDC SETTINGS
  OIDC_INTROSPECTION_ENDPOINT: ${oidc_endpoint}
  OIDC_CLIENT_SECRET: ${oidc_secret}
  AUTH_API_KEY: ${auth_api_key}
  # XOPERA GIT SETTINGS
  XOPERA_GIT_TYPE: ${git_type}
  XOPERA_GIT_URL: ${git_server_url}
  XOPERA_GIT_AUTH_TOKEN: ${git_auth_token}
  # XOPERA POSTGRES CONNECTION
  XOPERA_DATABASE_IP: ${postgres_address}
  XOPERA_DATABASE_NAME: ${postgres_db}
  XOPERA_DATABASE_USER: ${postgres_user}
  XOPERA_DATABASE_PASSWORD: ${postgres_password}
  # OPENSTACK DEPLOYMENT FALLBACK SETTINGS
  OS_PROJECT_DOMAIN_NAME: ${OS_PROJECT_DOMAIN_NAME}
  OS_USER_DOMAIN_NAME: ${OS_USER_DOMAIN_NAME}
  OS_PROJECT_NAME: ${OS_PROJECT_NAME}
  OS_TENANT_NAME: ${OS_TENANT_NAME}
  OS_USERNAME: ${OS_USERNAME}
  OS_PASSWORD: ${OS_PASSWORD}
  OS_AUTH_URL: ${OS_AUTH_URL}
  OS_INTERFACE: ${OS_INTERFACE}
  OS_IDENTITY_API_VERSION: "${OS_IDENTITY_API_VERSION}"
  OS_REGION_NAME: ${OS_REGION_NAME}
  OS_AUTH_PLUGIN: ${OS_AUTH_PLUGIN}
  # ANSIBLE CONFIGURATION
  ANSIBLE_TIMEOUT: "${ANSIBLE_TIMEOUT}"